* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

button {
  outline: none;
}

.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}

.video-fullscreen-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-fullscreen-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #fffffe;
  z-index: 1;
  opacity: 0.85;
}

.header-content {
  z-index: 2;
  color: #313639;
  width: 100%;
}

.header-content h1 {
  font-weight: 200;
  font-size: 64px;
}

.header-content p {
  font-weight: 200;
  font-size: 30px;
  line-height: 0px;
  margin-top: -20px;
  margin-bottom: 5em;
}

.header-content a {
  text-decoration: none;
}

.header-content button {
  font-weight: 800;
  font-size: 20px;
  background: inherit;
  border: 4px solid #313639;
  color: #313639;
  padding: 0.75em 2em;
  transition: 0.3s ease;
  border-radius: 3px;
  cursor: pointer;
}

.header-content button:hover {
  transform: scale(1.05);
  background-color: #ff8e3c;
  border-color: #ff8e3c;
}

.hamburger-menu {
  cursor: pointer;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 60px;
  height: auto;
  opacity: 0.8;
}

.side-nav {
  z-index: -1;
  padding: 1rem;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  padding-top: 10px;
  color: white;
  background: #313639;
  overflow-x: hidden;
  transition: 0.5s;
  white-space: nowrap;
}

.side-nav a {
  cursor: pointer;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
}

.side-nav .btn-close {
  margin-left: 150px;
  font-size: 36px;
}

.bottom-wrapper {
  z-index: 2;
}

#Experience {
  min-height: 100vh;
  background: #eff0f3;
  padding: 1rem;
}

.expHeader {
  text-align: center;
}

.expHeader h1 {
  font-size: 54px;
  font-weight: 300;
  margin-bottom: 3em;
  color: #313639;
}

.exp-content {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 2em;
}

.exp {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
}

.exp h1 {
  color: #313639;
  font-weight: 300;
  font-size: 32px;
}

.exp h2 {
  color: #808080;
  font-weight: 300;
  font-size: 24px;
}

.exp p {
  font-size: 20px;
  color: #383838;
}

#Projects {
  text-align: center;
  min-height: 100vh;
  background: #eff0f3;
  padding: 1rem;
}

.projHeader {
  text-align: center;
}

.projHeader h1 {
  font-size: 54px;
  font-weight: 300;
  margin-top: 3em;
  margin-bottom: 4em;
  color: #313639;
}

.cardContainer {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
}

.card {
  min-height: 300px;
  text-align: center;
  padding: 2em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.card h1 {
  font-size: 24px;
  font-weight: 400;
  color: #0d0d0d;
}

.card p {
  font-size: 20px;
  font-weight: 200;
  color: #2a2a2a;
}

.card a {
  text-decoration: none;
  cursor: pointer;
}

.card button {
  font-size: 16px;
  font-weight: 600;
  margin: 1em;
  color: #313639;
  background: #ff8e3c;
  padding: 0.3em 1em;
  border: 3px solid #d68142;
  transition: 0.15s ease;
  cursor: pointer;
}

.card button:hover {
  transform: scale(1.05);
}

#About {
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: #ff8e3c;
  padding: 1rem;
}

.page {
  border-radius: 10px;
  display: block;
  height: auto;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  margin-top: 5em;
  text-align: center;
  background: #eff0f3;
  box-shadow: 15px 20px 0px 0px rgba(0, 0, 0, 0.3);
}

.page-header h1 {
  font-size: 54px;
  font-weight: 300;
  margin-bottom: 3em;
  color: #313639;
}

.Profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 300px;
  height: auto;
}

.page-content {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
}

.abtSection {
  padding: 2em;
  color: #313639;
}

.abtSection h1 {
  font-size: 32px;
  font-weight: 500;
}

.abtSection p {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}

#Info {
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: #ff8e3c;
  padding: 1rem;
}

.info-header {
  border-radius: 5px;
  margin-top: 6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  width: fit-content;
  background: #eff0f3;
  box-shadow: 15px 20px 0px 0px rgba(0, 0, 0, 0.3);
}

.info-header h1 {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 54px;
  font-weight: 300;
  margin-bottom: 1em;
  color: #313639;
}

.infoContainer {
  margin-top: 10em;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4em;
}

.contact {
  border-radius: 5px;
  height: 300px;
  text-align: center;
  word-wrap: break-word;
  padding: 2em;
  background: #eff0f3;
  box-shadow: 15px 20px 0px 0px rgba(0, 0, 0, 0.3);
}

.contact h1 {
  font-size: 30px;
  font-weight: 600;
  color: #313639;
}

.contact p {
  font-size: 20px;
  font-weight: 600;
  color: #313639;
}

.contact a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #313639;
}
